body{
  background-image: url("https://www.ffe.com/var/ezwebin_site/storage/images/accueil/haut-niveau-disciplines-fei/cedric-lyard-et-cadeau-du-roi-jo-jem-5e-du-cci-4-burghley/455048-1-fre-FR/Cedric-Lyard-et-Cadeau-du-Roi-JO-JEM-5e-du-CCI-4-Burghley.jpg");
  background-size: cover;
  background-position: center;
}
.police{
  font-family: Arial;
}
h1{
  font-size: 500%;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 10px black;
}
h2{
  font-size: 200%;
  margin-top: 10px;
  margin-bottom: 60px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 10px black;
}

/* partie pres produit/ formulaire */
#parent1{
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#pres{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid;
  border-color: white;
  border-radius: 30px;
  border-width: 7px;
  background-color: #D4FDFF;
  width: 40%;
}
#explication{
  margin-left: 20px;
  font-size: 130%;
}
#image{
  margin: 10px;
  width: 50%;
}
#inscrption{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
h3{
  color: red;
  font-size: 180%;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 1px 1px 5px black;
}
#attire{
  text-align: center;
  color: red;
  font-size: 130%;
  width: 100%;
  margin-bottom: 5%;
  text-shadow: 1px 1px 5px black;
}
.identite{
  border-radius: 5px;
  width: 48%;
  padding: 5px;
  margin-bottom:10px;
  text-align: center;
  font-size: 120%;
}
#formulaire{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#mail{
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  text-align: center;
  font-size: 120%;
}
#bouton{
  padding: 10px;
  margin-top:10px;
  font-size: 120%;
}

/* partie avec 2 photos et convaincre */
#parent2{
  display: flex;
  width: 60%;
  margin: auto;
  margin-top: 90px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#saut1{
  width: 35%;
}
.convaincre{
  width: 60%;
  color: white;
  font-size: 140%;
}
#saut2{
  width: 35%;
  order: 1;
}

h4{
  text-align: center;
  font-size: 300%;
  color: red;
}

/* partie 3 images avec soustitres */
#parent3{
  display: flex;
  height: 400px;
  width: 80%;
  margin: auto;
  margin-top: 5%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.troisimgs{
  width: auto;
  height: 300px;
}
.soustitres{
  color: white;
  font-size: 140%;
  font-style: bold;
}

/* partie galerie photo */
#toutes_img{
  display: flex;
  width: 85%;
  margin: auto;
  margin-top: 30px;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
.imgs{
  width: auto;
  height: 200px;
  margin: 6px;
}

@media screen and (max-width: 1024px){
  #pres{
    width: 100%;
  }
  #image{
    width: 30%;
  }
  #parent3{
    height: auto;
  }
  #saut1{
    width: 80%;
  }
  #saut2{
    width: 80%;
    order: 0;
  }
  .convaincre{
    text-align: center;
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .troisimgs{
    height: 200px;
  }
  .imgs{
    height: 120px;
  }
  .convaincre{
    font-size: 120%;
  }
}
